<div class="col div-css">
<p>DBS Buddy Application</p>
<ul class="list-group list-css">
    <li class="list-group-item"><a routerLink="/myProfile" routerLinkActive="active">My Profile</a></li>
    <li class="list-group-item"><a routerLink="/yourBuddy">My Buddy</a></li>
    <li class="list-group-item"><a routerLink="/connections">My Connections</a></li>
    <li class="list-group-item"><a routerLink="/groups">My Groups</a></li>
    <li class="list-group-item"><a routerLink="/collegeNews">College News</a></li>
    <li class="list-group-item"><a routerLink="/queries">My Queries</a></li>
    <li class="list-group-item">Buddy Feedback</li>
    <li class="list-group-item"><a routerLink="/admin">Admin</a></li>
  </ul>
  </div>
