<div class="col div-css">
<p>DBS Buddy Application</p>
<ul class="list-group list-css">
    <li class="list-group-item"><a routerLink="/myProfile" routerLinkActive="active">My Profile</a></li>
    <li class="list-group-item" *ngIf="student.name !== 'Admin' && student.studentassignedid == null"><a routerLink="/yourBuddy">My Buddy</a></li>
    <li class="list-group-item" *ngIf="student.name !== 'Admin' && student.studentassignedid != null"><a routerLink="/myMentee">My Mentee</a></li>
    <li class="list-group-item" *ngIf="student.name !== 'Admin'"><a routerLink="/connections">My Connections</a></li>
    <li class="list-group-item" *ngIf="student.name !== 'Admin'"><a routerLink="/groups">My Groups</a></li>
    <li class="list-group-item"><a routerLink="/collegeNews">College News</a></li>
    <!-- <li class="list-group-item" *ngIf="student.name !== 'Admin'"><a routerLink="/queries">My Queries</a></li> -->
    <li class="list-group-item" *ngIf="student.name !== 'Admin' && student.studentassignedid == null"><a routerLink="/buddyFeedback">Buddy Feedback</a></li>
    <li class="list-group-item" *ngIf="student.name === 'Admin'"><a routerLink="/Admin">Admin</a></li>
  </ul>
  </div>
