.input-width{
    width: 33.3% !important;
}

.form-div-margin{
    margin-bottom: 20px;
}

.text-success{
    color: rgb(10, 82, 10);
}

.success-message-css{
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}