<div class="row">
    <div>
        <label class="image-upload-container btn btn-bwm">
            <span>Upload Profile Picture</span>
            <input #profileImage type="file" accept="image/*" (change)="processProfileImage(profileImage)">
            <img *ngIf="selectedFile" src="{{selectedFile.src}}" alt="Image not uploaded" class="profile-image">
        </label>
    </div>
    <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group form-div-margin">
            <label for="name">Name</label>
            <input type="text" class="form-control input-width" id="name"
                required [(ngModel)]="student.name" name="name">
        </div>
    
        <div class="form-group form-div-margin">
            <label for="studentid">Student Id</label>
            <input type="number" class="form-control input-width" id="studentid"
                required [(ngModel)]="student.studentid" name="studentid">
        </div>
    
        <div class="form-group form-div-margin">
            <label for="bio">Bio (Shase something interesting about yourself)</label>
            <input type="textarea" class="form-control input-width" id="bio"
                [(ngModel)]="student.bio" name="bio">
        </div>
    
        <div class="form-group form-div-margin">
            <label for="module">Course/Module</label>
            <select class="form-control input-width" id="module"
                required [(ngModel)]="student.module" name="mod">
                <option *ngFor="let mod of modules" [value]="mod">{{mod}}</option>
            </select>
        </div>
    </div>
    <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group form-div-margin">
            <label for="startdate">Course/Module Start Date</label>
            <input type="date" class="form-control input-width" id="startdate"
                required [(ngModel)]="student.startdate" name="startdate">
        </div>
    
        <div class="form-group form-div-margin">
            <label for="naenddateme">Course/Module End Date</label>
            <input type="date" class="form-control input-width" id="enddate"
                required [(ngModel)]="student.enddate" name="enddate">
        </div>
    
        <div class="form-group form-div-margin">
            <label for="country">Country of Origin</label>
            <select class="form-control input-width" id="module"
                required [(ngModel)]="student.country" name="country">
                <option *ngFor="let country of countries" [value]="country">{{country}}</option>
            </select>
        </div>
        <div class="form-group form-div-margin">
            <label for="hobby">Hobbies</label>
            <input type="textarea" class="form-control input-width" id="hobby"
                [(ngModel)]="student.hobby" name="hobby">
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary" (click)="saveProfile(student)">Save Profile</button>
        <p *ngIf="profileInfoSaved" class="text-success success-message-css">Your Profile is saved successfully!</p>
    </div>
</div>
