<div class="row">
    <div class="col col-sm-12 col-md-12 col-lg-12">Information about your buddy..</div>
    <div class="col col-sm-12 col-md-12 col-lg-12 div-margin">
        <div><img src="" alt="Upload Your Picture"></div>
        <div class="col col-sm-6 col-md-4 col-lg-4 div-display">
            <p><b>Name</b></p>
            <p><b>Bio</b></p>
            <p><b>Course/Module</b></p>
            <p><b>Course/Module Start Date</b></p>
            <p><b>Course/Module End Date</b></p>
            <p><b>Country of Origin</b></p>
            <p><b>Hobbies</b></p>
        </div>
        <div class="col col-sm-6 col-md-8 col-lg-8 div-display">
            <p>{{buddy.name}}</p>
            <p>{{buddy.bio}}</p>
            <p>{{buddy.module}}</p>
            <p>{{buddy.moduleStartDate}}</p>
            <p>{{buddy.moduleEndDate}}</p>
            <p>{{buddy.country}}</p>
            <p>{{buddy.hobby}}</p>
        </div>
    </div>
</div>

