.text-success{
    color: rgb(10, 82, 10);
}

.text-blue{
    color: blue;
}

.success-message-css{
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}

.margin-left-20{
    margin-left: 20px !important;
}

.input-width{
    width: 50% !important;
}

.form-div-margin{
    margin-bottom: 20px;
}
